body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AnimeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.Anime {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Anime:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.AnimeImages {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .AnimeList {
    flex-direction: column;
    align-items: center;
  }

  .Anime {
    width: 90%;
  }
}
